$body-background-color: #fffdf8;
$sidebar-color: #f4f0e8;
$search-background-color: #fffdf8;
$table-background-color: #fffdf8;
$code-background-color: #f1ede5;

$body-text-color: #242321;
$body-heading-color: #171715;
$nav-child-link-color: #4f4c46;
$search-result-preview-color: #5e5a53;
$feedback-color: #e7e1d7;

$link-color: #087f78;
$btn-primary-color: #087f78;
$base-button-color: #ebe5da;

$border-color: #d9d2c7;
$table-border-color: #d1c9bc;
$search-border-color: #c7beb1;
